@import "../../scss/variables.scss";

.containerFull.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 ($gutter * 1.5);
  box-sizing: border-box;

  .containerCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  &__contentLeft {
    display: inline-flex;

    &-logo{
      width: 184px;
      height: 40px;
    }

    &-list {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    &-listItem {
      margin-left: ($gutter * 2);
      padding: 0;
    }

    &-listLink {
      color: black;
      font-size: 16px;
      font-weight: 500;

      &:hover{
        color: $green-jussi;
      }
    }
  }

  &__contentRight {
    display: inline-flex;
    height: 50px;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;

    &-search {
      width: 240px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 24px;
      border: 1px solid $grey-jussi;
      background: #fff;
      display: flex;
      align-items: center;
    }

    &-searchInput {
      width: 230px;
      height: 36px;
      border: none;
      margin-left: $gutter;
      color: $pink-jussi;

      &:focus-visible{
        outline: none;
      }
    }

    &-searchInput::placeholder {
      font-weight: 500;
      font-size: 16px;
      color: $pink-jussi;
    }

    &-searchBtn{
      border: none;
      background: transparent;
      cursor: pointer;

      &Image {
        width: 24px;
        height: 24px;
        margin-right: $gutter;
      }
    }

    &-loginLink {
      color: black;
      font-size: 16px;
      font-weight: 500;

      &:hover{
        color: $green-jussi;
      }
    }
  }
}
