@import "../../scss/variables.scss";

.containerFull.brandBar {
  background: $grey-jussi;
}

.brandBar {
  width: 100%;

  .containerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $gutter 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-itemImg {
      padding-right: ($gutter * 2);
      margin-top: ($gutter - 8);
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
  }

  &__arrow {
    display: none;
  }
}

@media (min-width: 1024px) {
  .brandBar {
    .containerCenter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 1024px;
      padding: 0;
    }

    &__arrow {
      display: block;
      padding: 0 ($gutter * 3);
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-itemImg {
        padding-right: ($gutter * 3);
      }
    }
  }

  .brandBar__list-itemImg.fourImg {
    padding-right: 0;
  }
}
