@import "../../scss/variables.scss";

.containerFull.footer {
  background-color: #000;
}

.footer {
  .containerCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 0 $gutter;
    box-sizing: border-box;
  }

  &__listSocial {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      &:nth-of-type(2) {
        padding: 0 $gutter;
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    .containerCenter {
      padding: 0;
    }
  }
}
