@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800&display=swap');

body{
  font-family: 'Barlow', sans-serif;
}
.containerFull{
  width: 100%;
  height: auto;
}

.containerCenter{
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  text-decoration: none;
  list-style: none;
}